*{font-family: Verdana, Geneva, Tahoma, sans-serif;}
a {font-size: xx-large;}
 body {background-image:url(../img/gsalmon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


main::after{opacity: 50%;}
h2 {
    color:rgb(24, 7, 7);
    font-family: 'Merienda', cursive;
    font-size: xx-large;
}
img{width: 70%;
    padding-left: 30%;
    filter: opacity(100%);}

fieldset{color: ivory;}

th {border-collapse: collapse;
    border: 1px solid red;
    text-align: center;
padding: 2.5px;
    background-color: rgb(7, 7, 7);  color: white;
}

td {border-collapse: collapse;
    text-align: center;
    padding: 2.5px;
    border: 1px solid red;
    background-color: grey;
    color: white;
}
