h2 {
    color:rgb(17, 17, 146);
    font-family: 'Merienda', cursive;
    font-size: xx-large;
}
a {font-size: xx-large;

}
h3 {
    color:rgb(66, 66, 187);
    font-family: 'Merienda', cursive;
}
ul, li{
    font-family: 'Lemonada', cursive;
    color: rgb(54, 141, 228);
}
img {float:right;
vertical-align: ;}
p {
    color:rgb(66, 66, 187);
    font-family: 'Merienda', cursive;
    /* text-align: center; */
    text-align-last: center;
}